<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <form class="col-12">                        
                <div class='form-group row'>
                    <label class="col-sm-2 col-lg-1 col-form-label" for='filterText'>Filter By</label>
                    <div class="col-sm-10 col-lg-11">
                        <input type='text' 
                            class='form-control' 
                            placeholder="Filter by name..."
                            name='listFilter'
                            [(ngModel)]='listFilter' 
                            />
                    </div>
                </div>
            </form>            
        </div>
        <div class='row'>
            <div class="col-3 col-lg-1 ">
                <label class="col-form-label" for='filterTextDisplay'>Filter:</label>
            </div>                
            <div class="col-8 col-lg-6">
                <input type="text" readonly class="form-control-plaintext" id="filterTextDisplay" value={{filterText}}>
            </div>
            
        </div>
        <div class='row'>
            <div class='col-12'>
                <div class='table-responsive'>
                    <table class='table table-sm table-hover' 
                        *ngIf='products && products.length'>
                        <thead>
                            <tr>
                                <th>
                                    <button 
                                        class='btn btn-primary'
                                        (click) = 'toggleImage()'>
                                        {{showImage ? 'Hide' : 'Show'}} Image
                                    </button>
                                </th>
                                <th>Product</th>
                                <th>Code</th>
                                <th>Available</th>
                                <th>Price</th>
                                <th>5 Star Rating</th>                                                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let product of filteredProducts'>
                                <td><img [src]='product.imageUrl' 
                                         [title]='product.productName'
                                         [style.width.px]='imageWidth'
                                         [style.margin.px]='imageMargin'
                                         [hidden]='!showImage'
                                         />
                                </td>
                                <td>{{ product.productName }}</td>
                                <td>{{ product.productCode | lowercase | convertToSpaces: '-'}}</td>
                                <td>{{ product.releaseDate }}</td>
                                <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                                <td>    <pm-star [rating]='product.starRating'
                                            (ratingClicked)='onRatingClicked($event)'></pm-star>
                                        </td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>