<div class='card'>
    <div class='card-header'>
        Product List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-12 form-group'>
                <form class="form-inline">
                    <div class='form-group'>
                        <label for='filterText'>Filter By</label>
                        <input type='text' class='form-control' placeholder="Filter by name..." />
                    </div>
                </form>
            </div>
        </div>
        <div class='row'>
            <div class='col-6'>
                <h6>Filtered by: {{filterText}} </h6>
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <div class='table-responsive'>
                    <table class='table table-sm table-hover'>
                        <thead>
                            <tr>
                                <th>
                                    <button class='btn btn-primary'>
                                        Show Image
                                    </button>
                                </th>
                                <th>Product</th>
                                <th>Code</th>
                                <th>Available</th>
                                <th>Price</th>
                                <th>5 Star Rating</th>                                                                                                
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>